<script type="text/template" id="transaction-details-template">

<!-- secao -->
<div class="row">
	<div class="col-sm-12">
		<h6><strong>Título</strong></h6>
		<h5 class="js-name"> <%- name %></h5>
	</div>
</div>
<!-- /secao -->

<!-- origem -->
<h6><strong>Origem</strong></h6>
<hr class="no-margin">
<div class="js-source-el">
	
</div>
<!-- /origem -->

<!-- destino -->
<h6><strong>Destino</strong></h6>
<hr class="no-margin">
<div class="js-target-el">
	
</div>		
<!-- /destino -->

<!-- mapeamento 
<h6><strong>Mapeamento</strong></h6>
<hr class="no-margin">
<h5>Mapeamento 01</h5>
<div class="js-mapping-el">
	
</div>
 /mapeamento -->					

		
</script>