<script type="text/template" id="transaction-create-update-template">


	<!-- wizard -->
	<div id="simplewizardinwidget" class="wizard" data-target="#simplewizardinwidget-steps">
		<ul class="steps">
			<li data-target="#simplewizardinwidgetstep1" class="active"><span class="step">1</span>Etapa 1<span class="chevron"></span></li>
			<li data-target="#simplewizardinwidgetstep2"><span class="step">2</span>Etapa 2<span class="chevron"></span></li>
			<li data-target="#simplewizardinwidgetstep3"><span class="step">3</span>Etapa 3<span class="chevron"></span></li>
			<li data-target="#simplewizardinwidgetstep4"><span class="step">4</span>Etapa 4<span class="chevron"></span></li>
		</ul>
		<div class="actions" id="simplewizardinwidget-actions">
			<button type="button" class="btn btn-default btn-sm shiny btn-prev "> <i class="fa fa-angle-left"></i>Anterior</button>
			<button type="button" class="btn btn-default btn-sm shiny btn-next " data-last="Concluir">Próximo<i class="fa fa-angle-right"></i></button>
		</div>
	</div>
	<div class="step-content" id="simplewizardinwidget-steps">
		
		<!-- passo 1 -->
		<div class="step-pane active" id="simplewizardinwidgetstep1">
			
			<fieldset class="bordered">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="form-group simula_validacao">
							<label for="0001" class="control-label">Título <sup>*</sup></label>
							<input type="text" class="form-control" id="0001" placeholder="Título">
						</div>
					</div>
				</div>
				
			</fieldset>	
			
			<!-- origem -->
			<fieldset class="bordered">
				
				<div class="control-group">
					<div class="radio-inline no-padding">
						<label>
							<input name="origem" type="radio" checked="checked" onclick="$('.origem_opc').toggle();">
							<span class="text">Origem Existente</span>
						</label>
					</div>
					<div class="radio-inline">
						<label>
							<input name="origem" type="radio" onclick="$('.origem_opc').toggle();">
							<span class="text">Nova Origem</span>
						</label>
					</div>
				</div>
				
				<!-- campos origem existente -->
				<div class="origem_opc">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group simula_validacao">
								<label for="0002" class="control-label">Origem <sup>*</sup></label>
								<select class="form-control" id="0002">
									<option>Selecione</option>
									<option>Origem 01</option>
									<option>Origem 02</option>
									<option>Origem 03</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h6>Nome</h6>
							<h5>---</h5>
						</div>
						<div class="col-sm-6">
							<h6>Conector</h6>
							<h5>---</h5>
						</div>							
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<h6>URL</h6>
							<h5>---</h5>
						</div>				
					</div>
				</div>
				<!-- /campos origem existente -->
				
				<!-- campos nova origem -->
				<div class="origem_opc" style="display: none;">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="0003" class="control-label">Nome <sup>*</sup></label>
								<input type="text" class="form-control" id="0003">
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="form-group">
								<label for="0004" class="control-label">Conector <sup>*</sup></label>
								<select class="form-control" id="0004">
									<option>Selecione</option>
									<option>CSV</option>
									<option>MySQL</option>
									<option>SOLR</option>
								</select>
							</div>
						</div>							
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="0005" class="control-label">URL <sup>*</sup></label>
								<input type="text" class="form-control" id="0005">
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="0006" class="control-label">Porta <sup>*</sup></label>
								<input type="text" class="form-control" id="0006">
							</div>
						</div>												
					</div>
					
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="form-group">
								<label for="0007" class="control-label">Usuário <sup>*</sup></label>
								<input type="text" class="form-control" id="0007">
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="form-group">
								<label for="0008" class="control-label">Senha <sup>*</sup></label>
								<input type="password" class="form-control" id="0008">
							</div>
						</div>												
					</div>											
				</div>
				<!-- /campos nova origem -->
			
			</fieldset>
			<!-- /origem -->
			
			<!-- destino -->
			<fieldset class="bordered">
			
				<div class="control-group">
					<div class="radio-inline no-padding">
						<label>
							<input name="destino" type="radio" checked="checked" onclick="$('.destino_opc').toggle();">
							<span class="text">Destino Existente</span>
						</label>
					</div>
					<div class="radio-inline">
						<label>
							<input name="destino" type="radio" onclick="$('.destino_opc').toggle();">
							<span class="text">Novo Destino</span>
						</label>
					</div>
				</div>
			
			
				<!-- campos destino existente -->
				<div class="destino_opc">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group simula_validacao">
								<label for="0009" class="control-label">Destino <sup>*</sup></label>
								<select class="form-control" id="0009">
									<option>Selecione</option>
									<option selected="">Destino 01</option>
									<option>Destino 02</option>
									<option>Destino 03</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h6>Nome</h6>
							<h5>Destino 01</h5>
						</div>
						<div class="col-sm-6">
							<h6>Conector</h6>
							<h5>MySQL</h5>
						</div>							
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<h6>URL</h6>
							<h5>10.0.0.125/sql</h5>
						</div>
						<div class="col-sm-6">
							<h6>Porta</h6>
							<h5>8081</h5>
						</div>												
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<h6>Usuário</h6>
							<h5>root</h5>
						</div>											
					</div>
				</div>
				<!-- /campos destino existente -->
				
				
				<!-- campos  novo destino -->
				<div class="destino_opc" style="display: none;">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="0010" class="control-label">Nome <sup>*</sup></label>
								<input type="text" class="form-control" id="0010">
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="form-group">
								<label for="0011" class="control-label">Conector <sup>*</sup></label>
								<select class="form-control" id="0011">
									<option>Selecione</option>
									<option>CSV</option>
									<option>MySQL</option>
									<option>SOLR</option>
								</select>
							</div>
						</div>							
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="0012" class="control-label">URL <sup>*</sup></label>
								<input type="text" class="form-control" id="0012">
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="0013" class="control-label">Porta <sup>*</sup></label>
								<input type="text" class="form-control" id="0013">
							</div>
						</div>												
					</div>
					
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="form-group">
								<label for="0014" class="control-label">Usuário <sup>*</sup></label>
								<input type="text" class="form-control" id="0014">
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="form-group">
								<label for="0015" class="control-label">Senha <sup>*</sup></label>
								<input type="password" class="form-control" id="0015">
							</div>
						</div>												
					</div>											
				</div>
				<!-- /campos novo destino -->

			</fieldset>
			<!-- /destino -->
		
		</div>
		<!-- /passo 1 -->
		
		
		<!-- passo 2 -->
		<div class="step-pane" id="simplewizardinwidgetstep2">
			<fieldset class="bordered">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="form-group simula_validacao">
							<label for="0016" class="control-label">Selecione o arquivo (CSV ou planilha) para executar a carga de dados <sup>*</sup></label>
							<input type="file" id="0016">
							
							<div class="control-group">
								<div class="radio">
									<label>
										<input name="form-field-radio" type="radio" checked="checked">
										<span class="text">Sempre executar a Transação com o arquivo selecionado</span>
									</label>
								</div>
								<div class="radio">
									<label>
										<input name="form-field-radio" type="radio">
										<span class="text">Selecionar o arquivo a cada execução</span>
									</label>
								</div>
							</div>

						</div>
					</div>
				</div>
			</fieldset>	
		</div>
		<!-- /passo 2 -->
		
		
		<!-- passo 3 -->
		<div class="step-pane" id="simplewizardinwidgetstep3">
			<fieldset class="bordered">
			
				<div class="control-group">
					<div class="radio-inline no-padding">
						<label>
							<input name="mapeamento" type="radio" checked="checked" onclick="$('.mapeamento_opc').toggle();">
							<span class="text">Mapeamento Atual ou Pré-Definido</span>
						</label>
					</div>
					<div class="radio-inline">
						<label>
							<input name="mapeamento" type="radio" onclick="$('.mapeamento_opc').toggle();">
							<span class="text">Novo Mapeamento</span>
						</label>
					</div>
				</div>
			
				<!-- mapeamento atual -->
				<div class="mapeamento_opc">										
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group simula_validacao">
								<label for="0017" class="control-label">Caso deseje, selecione um Mapeamento Pré-Definido</label>
								<select class="form-control" id="0017">
									<option>Selecione</option>
									<option>Mapeamento 01</option>
									<option>Mapeamento 02</option>
									<option>Mapeamento 03</option>
								</select>
							</div>
						</div>
					</div>

					<h5>Mapeamento Atual (arquivo selecionado na etapa anterior)</h5>
					<table class="table table-hover table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th class="min-width">Chave<br>Única</th>
								<th>Nome</th>								
								<th class="text-center">Tipo</th>
								<th>Variável CBI</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Data de Admissão
								</td>
								<td class="text-center">
									data
								</td>
								<td>
									datadeadmissao_tdt
								</td>								
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Funcionário
								</td>
								<td class="text-center">
									texto
								</td>
								<td>
									funcionario_s
								</td>	
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Salário
								</td>
								<td class="text-center">
									número
								</td>
								<td>
									salario_b
								</td>	
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Data de Admissão
								</td>
								<td class="text-center">
									data
								</td>
								<td>
									datadeadmissao_tdt
								</td>								
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Funcionário
								</td>
								<td class="text-center">
									texto
								</td>
								<td>
									funcionario_s
								</td>	
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Salário
								</td>
								<td class="text-center">
									número
								</td>
								<td>
									salario_b
								</td>	
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Data de Admissão
								</td>
								<td class="text-center">
									data
								</td>
								<td>
									datadeadmissao_tdt
								</td>								
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Funcionário
								</td>
								<td class="text-center">
									texto
								</td>
								<td>
									funcionario_s
								</td>	
							</tr>
							<tr>
								<td class="text-center">
									<i class="fa fa-check silver"></i>
								</td>
								<td>
									Salário
								</td>
								<td class="text-center">
									número
								</td>
								<td>
									salario_b
								</td>	
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /mapeamento atual -->
				
				
				<!-- novo mapeamento -->
				<div class="mapeamento_opc" style="display: none;">										

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="0018">Nome <sup>*</sup></label>
								<input type="text" id="0018" class="form-control">
							</div>
						</div>
					</div>
					
					
					<table class="table table-condensed margin-bottom-20">
						<thead>
							<tr>
								<th class="min-width">Chave<br>Única</th>
								<th>Nome</th>								
								<th class="text-center" style="width: 100px;">Tipo</th>
								<th>Variável CBI</th>
								<th class="min-width"></th>														
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<div class="checkbox">
										<label>
											<input type="checkbox">
											<span class="text"></span>
										</label>
									</div>
								</td>
								<td>
									<input type="text" value="" class="form-control">
								</td>
								<td class="text-center">
									<select class="form-control">
										<option>texto</option>
										<option>data</option>
										<option>número</option>
									</select>
								</td>
								<td>
									<input type="text" value="" class="form-control">
								</td>
								<td>
									<button class="btn bg-gray"><i class="fa fa-plus-circle"></i> Adicionar Linha</button>
								</td>														
							</tr>
						</tbody>
					</table>
					
					
					<h5>Linhas Adicionadas</h5>
					<table class="table table-hover table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th class="min-width">Chave<br>Única</th>
								<th>Nome</th>								
								<th class="text-center" style="width: 100px;">Tipo</th>
								<th>Variável CBI</th>
								<th class="min-width"></th>														
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="">
											<span class="text"></span>
										</label>
									</div>
								</td>
								<td>
									<input type="text" value="Lorem Ipsum" class="form-control input-sm">
								</td>
								<td class="text-center">
									<select class="form-control input-sm">
										<option selected="">texto</option>
										<option>data</option>
										<option>número</option>
									</select>
								</td>
								<td>
									<input type="text" value="lorem_ipsum_x" class="form-control input-sm">
								</td>
								<td>
									<a id="" title="Excluir" class="btn btn-danger btn-xs icon-only white bootbox-confirm" href="#"><i class="fa fa-times"></i></a>
								</td>														
							</tr>
							<tr>
								<td class="text-center">
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="">
											<span class="text"></span>
										</label>
									</div>
								</td>
								<td>
									<input type="text" value="Admissão" class="form-control input-sm">
								</td>
								<td class="text-center">
									<select class="form-control input-sm">
										<option>texto</option>
										<option selected="">data</option>
										<option>número</option>
									</select>
								</td>
								<td>
									<input type="text" value="admissao_y" class="form-control input-sm">
								</td>
								<td>
									<a id="" title="Excluir" class="btn btn-danger btn-xs icon-only white bootbox-confirm" href="#"><i class="fa fa-times"></i></a>
								</td>														
							</tr>													
							<tr>
								<td class="text-center">
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="">
											<span class="text"></span>
										</label>
									</div>
								</td>
								<td>
									<input type="text" value="Salário" class="form-control input-sm">
								</td>
								<td class="text-center">
									<select class="form-control input-sm">
										<option>texto</option>
										<option>data</option>
										<option selected="">número</option>
									</select>
								</td>
								<td>
									<input type="text" value="salario_xy" class="form-control input-sm">
								</td>
								<td>
									<a id="" title="Excluir" class="btn btn-danger btn-xs icon-only white bootbox-confirm" href="#"><i class="fa fa-times"></i></a>
								</td>														
							</tr>													
						</tbody>
					</table>
					
					
					
				</div>
				<!-- /novo mapeamento -->
				
				
				
					
					
				
			</fieldset>
		</div>
		<!-- /passo 3 -->
		
		
		<!-- passo 4 -->
		<div class="step-pane" id="simplewizardinwidgetstep4">
			
			<fieldset class="bordered">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="checkbox">
							<label>
								<input type="checkbox">
								<span class="text">Adicionar a Transação aos Favoritos</span>
							</label>
						</div>
					</div>
				</div>
					
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="checkbox">
							<label>
								<input type="checkbox">
								<span class="text">Executar a Transação ao concluir</span>
							</label>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<!-- /passo 4 -->
		
	</div>
	<!-- /wizard -->
	

</script>