<script type="text/template" id="file-upload-template">
<div class="widget no-header radius-bordered">
	<div class="widget-body">	
		<div class="well attached js-main">
			<div class="row">
					<div class="col-sm-offset-1 col-sm-10 col-md-6 col-md-offset-3">
						<form>
							<div class="form-group js-file-container">
	                            <span class="input-icon icon-right inverted">
	                                <input type="text" class="form-control input-xl js-file-name" placeholder="Escolha o arquivo (CSV ou Excel)">
	                                <i class="fa fa-folder-open bg-blue js-browse"></i>
	                                <input type="file" class="js-file-input" multiple="true" name="file"  style="position: absolute;top: -1000px;">
	                            </span>

	                		</div>
                		</form>
                		
                		<div class="progress progress-xlg">
                    		<div class="progress-bar progress-bar-info js-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        		<span class="js-progress-message">
                            		
                        		</span>
                    		</div>
                        </div>			   				
						
						

					</div>
				</div>				
			</div>			
		</div>				
	</div>
</script>