<script type="text/template" id="transaction-tabs-template">
<div class="tabbable">
							
		<!-- nav-tabs -->
		<ul class="nav nav-tabs">
			<li class="active js-filter js-filter-favorite">
				<a data-toggle="tab" href="#" aria-expanded="true">
					Favoritos
				</a>
			</li>

			<li class="js-filter js-filter-recent">
				<a data-toggle="tab"  href="#" aria-expanded="false">
					Recentes
				</a>
			</li>
			
			<li class="js-filter js-filter-all">
				<a data-toggle="tab"  href="#" aria-expanded="false">
					Todos
				</a>
			</li>										
		</ul>
		<!-- /nav-tabs -->

		<!-- tab-content -->
		<div class="tab-content">
		
			<!-- favoritos -->
			<div class="tab-pane active js-list-el">
				
				
				
			</div>
			<!-- /favoritos -->			
											
			
		</div>
		<!-- /tab-content -->
		
		
	</div>
</script>