<script type="text/template" id="transaction-tabs-template">
<div class="tabbable">
							
		<!-- nav-tabs -->
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#favoritos" aria-expanded="true">
					Favoritos
				</a>
			</li>

			<li class="">
				<a data-toggle="tab" href="#recentes" aria-expanded="false">
					Recentes
				</a>
			</li>
			
			<li class="">
				<a data-toggle="tab" href="#todos" aria-expanded="false">
					Todos
				</a>
			</li>										
		</ul>
		<!-- /nav-tabs -->

		<!-- tab-content -->
		<div class="tab-content">
		
			<!-- favoritos -->
			<div id="favoritos" class="tab-pane active js-favorite-el">
				
				
				
			</div>
			<!-- /favoritos -->
			
			
			<!-- recentes -->
			<div id="recentes" class="tab-pane js-recent-el">

				
				
			</div>
			<!-- /recentes -->
			
			
			<!-- todos -->
			<div id="todos" class="tab-pane js-all-el">

		
				
			</div>
			<!-- /todos -->										
			
		</div>
		<!-- /tab-content -->
		
		
	</div>
</script>